* {
    box-sizing: border-box;
}

.PF2App {
    max-width: 500px;
}

.CollapsableInput, .TargetInput {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.Collapsed {
    outline: 1px solid lightgray;
}

.InputGroup {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;  
    background-color: lightgray; 
}

.CollapsableInputDescription {
    /* border: 1px solid black; */
    /* margin-bottom: 5px; */
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }

table {
    width: 100%;
}

table select {
    width: 100%;
}